@model  AppEnvioArtigos.Models.Participante

@{
	ViewBag.Title = "Cadastro";
}

<h2 class="txtcadastro"><b>Cadastro</b></h2> 


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">

	<hr />

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<div class="form-group">
		<p class="col-xs-6 col-sm-3"><b class="text-dark">Tipo de Usuário:<b></p>
		<div class="col-md-10">
			<select class="form-control" data-val="true" data-val-required="perfil"
					id="Perfil" name="Perfil">
				<option value="Participante"> Participante</option>
				<option value="Revisor"> Revisor</option>
			</select>
		</div>

	</div>



	<div class="form-group ">
		@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@ViewBag.Email
		@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

		<div class="col-md-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>



	<div class="form-group">
		@Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
		</div>
	</div>



	<div class="form-group">
		@Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
		</div>
	</div>


	<img src="~/Img/ken.jpg" align="right" id="ImgKen" style="position: relative; margin-top: -70%;" />



	<hr />


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Cadastrar" class="btn btn-outline-success" onclick="javascript:ConfirmarInscricao()" />
		</div>
	</div>
</div>
}

<div class="col-md-10">
    <button class="btn btn-outline-warning">
        @Html.ActionLink("Sair", "Login")
    </button>
</div>





@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
		function ConfirmarInscricao() {
			return alert("Inscrição Confirmada! \n");
		}
	</script>
}
