@model AppEnvioArtigos.Models.Participante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalParticipacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalParticipacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepitaSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepitaSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartaoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartaoCredito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParticipanteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
