@model AppEnvioArtigos.Models.Participante

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    //cria a tag do formulário
    @Html.AntiForgeryToken() // previne o ataque CSRF
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

        <h1 class="txtAF">Artigos Fighters</h1><br>

    <table class="tblLogin">
        @ViewBag.ErroLogin
        <tr>
            <td>@Html.LabelFor(model => model.Email):</td>
            <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
		
        <tr>
            <td> @Html.LabelFor(a => a.Senha):</td>
            <td> @Html.PasswordFor(a => a.Senha, new { @class = "form-control" }) </td>
            <td> @Html.ValidationMessageFor(a => a.Senha) </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <br />
                <input type="submit" value="Login" class="btn btn-default" />
                <button class="btn btn-default">@Html.ActionLink("Cadastre-se", "Create", "Participantes")</button>
            </td>
            <td></td>
        </tr>

    </table>




    <p>
        <img src="~/Img/street-fighter-hd-png-4088605256-41b510e024-o-png-1025.png" align="right" id="ImgLoginRyu" />    
    </p>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
