@model AppEnvioArtigos.Models.ViewModel.AvaliacaoViewModel

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ArtigoId, Model.ArtigoId)
  
<div class="form-horizontal">
    <h3>Avalie o Artigo</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NotaArtigo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NotaArtigo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NotaArtigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ComentarioRevisao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ComentarioRevisao, 10, 40, new { htmlAttributes = new { @class = "form-control", style = "width: 100%; max-width: 100%;" } })
            @Html.ValidationMessageFor(model => model.ComentarioRevisao, "", new { @class = "text-danger" })
        </div>
    </div>
 


  

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Avaliar" class="btn btn-default" />
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("Cancelar", "Index", "Artigo")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
