@model IEnumerable<AppEnvioArtigos.Models.Artigos>

@{

    ViewBag.Title = "Artigos";
}
<h2>Artigos</h2>



<p>
    @Html.ActionLink("Envie seu Artigo", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        <select data-val="true" data-val-required="genero"
                id="Genero" name="Genero">
            <option value="Tecnologia"> Tecnologia</option>
            <option value="Ciencia"> Ciencia</option>
            <option value="Medicina"> Medicina</option>
            <option value="Historia"> Historia</option>
        </select>
        <input type="submit" value="Filtrar"/>
    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            <p>Resumo do Artigo</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artigopdf)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelIodel => item.ResumoArtigo))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            <button id="@item.ArtigoID" onclick="downloadArquivo(this.id)"> Download </button>

        </td>
        
        <td>

            @Html.ActionLink("Avaliar", "Create", "AvaliarArtigo", new { artigo = item.ArtigoID }, null)|
            @Html.ActionLink("Details", "Details", new { id = item.ArtigoID }) |
        </td>
    </tr>
    }

</table>
<script>
    function downloadArquivo(id) {
        window.open('@Url.Action("DownloadDocumento", "Artigo", new { id = "_Id" })'.replace("_Id", id));
    }
</script>

