
@model X.PagedList.IPagedList<AppEnvioArtigos.Models.Artigos>
@using X.PagedList.Mvc;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
                /**/


                ViewBag.Title = "Artigos";
}
<h3 class="txtbemvindo"><b>Bem vindo, @ViewBag.usuario.<b></h3>
<br />
<h2 class="txtartigo"><b>Artigos</b></h2>




<p> <img src="~/Img/chunli.png" id="imgchu" align="right" style="position: relative;" margin-top: 150%; width="300px" /> </p>

@if (Session["Perfil"].Equals("Participante"))
{
    <button class="btn btn-outline-dark">
        @Html.ActionLink("Envie o Artigo", "Create")
    </button>
}

<hr />

@using (Html.BeginForm())
{
    <div>
        Pesquisar:
        @using (Html.BeginForm("Index", "Artigo", FormMethod.Get))
        {

            @Html.TextBox("Pesquisa")
            <input class="btn btn-dark" type="submit" value="Pesquisar" />


            <div class="col col-lg-2">
                <select class="form-control" data-val="true" data-val-required="genero"
                        id="Genero" name="Genero">
                    <option selected>Selecione...</option>
                    <option value="Tecnologia"> Tecnologia</option>
                    <option value="Ciencia"> Ciencia</option>
                    <option value="Medicina"> Medicina</option>
                    <option value="Historia"> Historia</option>
                    <input class="btn btn-dark" type="submit" value="Filtrar" />
                </select>
            </div>
        }
    </div>
}
<hr />

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Nome

            </th>
            <th>
                Resumo
            </th>
            <th>
                Genero

            </th>
            <th>
                Artigo .PDF

            </th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelIodel => item.ResumoArtigo))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    <button class="btn btn-outline-dark" id="@item.ArtigoID" onclick="downloadArquivo(this.id)"> Download </button>

                </td>
                <td>
                    @if (Session["Perfil"].Equals("Revisor"))
                    {
                        <a href="#" class="btn btn-light btnDetalhes" data-value="@item.ArtigoID">Avaliar</a>}
                    <a href="#" class="btn btn-light btnDetails" data-value="@item.ArtigoID">Detalhes</a>
                    <!-- @Html.ActionLink("Avaliar", "Create", "AvaliarArtigo", new { artigo = item.ArtigoID }, null)
                    @Html.ActionLink("Details", "Details", new { id = item.ArtigoID }) ||-->

                </td>
            </tr>
        </tbody>

    }

</table>

    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) De @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, Genero = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <script>
    function downloadArquivo(id) {
        window.open('@Url.Action("DownloadDocumento", "Artigo", new { id = "_Id" })'.replace("_Id", id));
    }
    </script>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="teste"></div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{

        <script type="text/javascript">

            $(document).ready(function () {

                $.ajaxSetup({ cache: false });

                $(".btnDetalhes").click(function () {

                    var id = $(this).data("value");


                    $("#teste").load("/AvaliarArtigo/Create/?artigo=" + id, function () {
                        $('#myModal').modal("show");
                    });
                });
            });

        </script>

        <script type="text/javascript">

            $(document).ready(function () {

                $.ajaxSetup({ cache: false });

                $(".btnDetails").click(function () {

                    var id = $(this).data("value");


                    $("#teste").load("/Artigo/Details/" + id, function () {
                        $('#myModal').modal("show");
                    });
                });
            });

        </script>

    }