<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Artigos Fighters</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Session["usuarioLogadoID"] != null)
    {
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Artigos Fighters", "Index", "Artigo", null, new { @class = "navbar-brand" })
                    </li>
                </ul>
                @if (Session["usuarioLogadoID"] != null)
                {
               
                    <a> @Html.ActionLink("Sair", "Login", "Participantes")  </a>
               
                }
               
            </div>
        </nav>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-dark text-center">
            <p>Artigos Fighters - &copy; @DateTime.Now.Year  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
