<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Congresso de Artigos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Session["usuarioLogadoID"] != null)
    {
        <div class="navbar  fixed-top navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button  class="navbar-toggler"  type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink("Artigos Fighters", "Index", "Artigo", new { area = "" }, new { @class = "navbar-brand" })
                    @if (Session["usuarioLogadoID"] != null)
                    {
                        @Html.ActionLink("Sair", "Login", "Participantes", new { area = "" }, new { @class = "navbar-brand" })
                    }

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Início", "Index", "Home")</li>
                        @if (Session["usuarioLogadoID"] != null)
                        {
                            <li> @Html.ActionLink("Sair", "Login", "Participantes")  </li>

                        }


                    </ul>
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-dark">
            <p>Artigos Fighters - &copy; @DateTime.Now.Year  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
